<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>homework12</title>
</head>

<body>
  <header class="header">
    <div class="container">
      <form class="search" id="search-form">
        <input class="search__input" name="query" type="search" />
      </form>
    </div>
  </header>
  <ul class="country" id="country-list"></ul>
</body>

</html>