* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  margin: 0;
  background: rgb(223, 45, 22);
  padding: 15px 0;
}

.search {
  max-width: 500px;
  margin: 0 auto;
}

.search__input {
  width: 100%;
  display: inline-block;
  background: none;
  border: 1px solid #fff;
  font-size: 20px;
  padding: 10px 15px;
  color: #fff;
}

.item {
  list-style: none;
}
.article {
  display: flex;
  flex-wrap: wrap;
}

.name {
  width: 1200px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.country-characteristics {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.img-flag {
  width: 600px;
  display: flex;
  justify-content: center;
}

.langs,
.population,
.capital {
  width: 250px;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(100, 23, 0);
}

.langs {
  padding: 0 0 15px 0;
}

.name-country {
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-align: center;
  color: crimson;
}

.country-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
